.navbar-main {
    /* max-width: 1000px; */
    margin: 0;
    display: flex;
    flex-direction: column;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 80px;
    height: 100px;
    background: rgba(140, 172, 44, 0.133);
}

.company-img-text {
    display: flex;
    align-items: center;
    gap: 30px;
    /* background-color: #fff; */
    margin-left: "40px";
    /* justify-content: space-around; */
}

.login-button-text {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* justify-self: end; */
    margin-right: 10px;
    gap: 2rem;
}

.company-logo {
    height: 40px;
    width: 100px;
    /* margin-right: "40px"; */
}


.text1 {
    /* margin-left: 4rem; */
}

.clickme-button {

    border-radius: 40px;
    background: orangered;
    color: aliceblue;
    border: 1px solid wheat;
    padding: 10px 20px;
}

/* -------------------------------------------- */
.firstComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: '1000px';

    padding: 10px;
}

.dashboardImg {
    width: 30%;

    transform: rotate(30deg);
    margin-top: "50px";
}

.loremPara1-navbar {
    font-size: 12px;
    font-weight: 500;
}


.text-right {
    text-align: right;
    /* padding: 3rem; */
    width: 50%;
}


.word-container {
    max-width: 800px;
    padding-top: 2rem;
    margin: 0 auto;
    /* Center-align the container */
}

.word-container h3 {
    text-align: center;
    /* Center-align the text */
    margin: 0;
    /* Remove default margin */
    line-height: 1.4;
    /* Increase line height for better readability */
}

.word-container h3>span {
    display: inline-block;
    margin: 2px 4px;
    /* Adjust spacing between words */
}